<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    <%= page %>
  </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css" />
  <style>
    body {
      padding-top: 50px !important;
      font-family: "Poppins", sans-serif;
      background-color: #fdfdfd;
      height: 100vh;
    }
  </style>
</head>

<body class="container">

  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      <a class="navbar-brand" href="/" style="color: #111D5E; font-weight: 600;">BukuTamu</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" style="color: #3A3A3A; font-weight: 400;" href="/">Beranda</a>
          <a class="nav-item nav-link" style="color: #3A3A3A; font-weight: 400;" href="/about">Tentang Kami</a>
          <a class="nav-item nav-link" style="color: #3A3A3A; font-weight: 400;" href="/contact">Kontak</a>
        </div>
      </div>
    </div>
  </nav>