<%- include ('../partials/header'); -%>

  <main>
    <div class="background">
      <center>
        <h1>
          <%= page %>
        </h1><br>
      </center>
      <center>
        <p style="color: #4d4b4b;">Kami adalah perusahaan yang bergerak di bidang IT. Banyak jasa yang tersedia, seperti
          pembuatan website, aplikasi, design tampilan, database, dll. Projek-projek Anda akan dikelola dengan tenaga
          kerja yang handal dan kompeten di bidangnya.</p>
        <p style="color: #4d4b4b;">Banyak klien dari kami yang merasa puas atas jasa yang telah ditawarkan. Selain jasa
          yang berkualitas, harga yang kami patok pun terjangkau. Tunggu apalagi? Mari bergabung bersama kami untuk
          mewujudkan projek impian Anda. Salam Sukses!! </p>
      </center>
    </div>
  </main>

  <%- include ('../partials/footer') %>