<%- include ('../partials/header'); -%>

  <main>
    <div class="background">
      <center>
        <h1>
          <%= page %>
        </h1><br>
      </center>
      <center style="color: #4d4b4b;">
        <p>Email : perusahaanIT@gmail.com</p>
        <p>WhatsApp : 082244445555</p>
        <p>Instagram : @perusahaanIT_</p>
      </center>
    </div>
  </main>

  <%- include ('../partials/footer') %>