<%- include ('../partials/header') %>

  <main>
    <div class="background">
      <center>
        <h1 class="mt-4 mb-4">Selamat Datang di Perusahaan Kami</h1>
        <p style="color: #4d4b4b;">Wujudkan projek Anda bersama kami dengan tim profesional di bidangnya <br> Cepat,
          Berkualitas, dan Terjangkau</p>
      </center>
      <center><a href="/guest" class="btn btn-primary active mt-5" role="button" data-bs-toggle="button"
          aria-pressed="true"
          style="background-color: #111D5E; border-color: #111D5E; height: 40px; width: 240px;">Mulai Isi</a></center>
    </div>
  </main>

  <%- include ('../partials/footer') %>